[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-marshmallow = {version = "==0.14.0", extras = ["sqlalchemy"]}
flask = "==2.2.2"
connexion = {version = "==2.14.1", extras = ["swagger-ui"]}
flask-script = "*"
jsonify = "*"
flask-smorest = "*"
flask-serialize = "*"
pipfile = "*"
pip = "*"
install = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
